{{# each this}}
  <li class="one-product-item">
    <img src='http://localhost:3000{{image}}' alt='{{type}} {{gender}} {{name}}' class="one-product-image">
    <p class="one-product-fullname">{{brandName}} {{name}}</p>
    <p class="one-product-size">Размер {{size}}</p>
    <span class="one-product-id">ID: {{_id}}</span>
  </li>
{{/each}}