{{#each this}}
<li class="gallery__item2">
  <img
  src={{src}}
  id={{id}}
  data-img_modal="{{preview}}"
  data-product="{{product}}"
  data-description="{{description}}"
  data-price="{{price}}"
>
</li>
{{/each}}
