{{#each this}}
<li class="gallery__item2">
  <img class="gallery__img2" src=https://nike-market.herokuapp.com{{image}} id={{_id}} data-img_modal="{{type}}"
    data-product="{{brandName}}" data-description="{{description}}" data-price="${{price}}"
    data-image="https://nike-market.herokuapp.com{{image}}">
</li>
{{/each}}
