{{#each this}}
<li class="gallery__item2">
  <img class="gallery__img2" src=http://localhost:3000{{image}} id={{_id}} data-img_modal="{{type}}"
    data-product="{{brandName}}" data-description="{{description}}" data-price="${{price}}"
    data-image="http://localhost:3000{{image}}">
</li>
{{/each}}
