{{#each this}}
<li class="gallery__item2">
  <img
  src={{image}}
  id={{_id}}
  data-img_modal="{{type}}"
  data-product="{{brandName}}"
  data-description="{{description}}"
  data-price="${{price}}"
>
</li>
{{/each}}
